
<h1 class="title text-center">Welcome to Coding Color!</h1>
<section>
    <div class="container">
        <article class="col-5-md-10">
            <h2 class="subtitle">
                Convert colors effortlessly
            </h2>
            <p class="section-description">
                As a user, you can easily convert colors between different formats using Coding Color. Whether it's hex, rgb, or rgba, our user-friendly interface allows you to input colors and instantly get the converted result. No technical knowledge required!
            </p>
            <a href="#/tools" class="btn-primary">Explore more</a>
        </article>
        <aside class="col-5-md-10">
            <img src="./assets/images/welcome-1.svg" alt="coding random image" class="ml-auto">
        </aside>    
    </div>
</section>
<section class="order-reverse bg-lgray">
    <div class="container">
        <article class="col-5-md-10 pl-2">
            <h2 class="subtitle">
                Automatic css conversion
            </h2>
            <p class="section-description">
                Just click a bottom and watch the pc doing all the work with the automic conversion!<br>
                Copy, Paste, Convert and Allons-y! (David Tennant is the best doctor no cap)
            </p>
            <a href="#/automatic" class="btn-primary">Start Converting</a>
        </article>
        <aside class="col-5-md-10">
            <img src="./assets/images/welcome-2.svg" alt="coding random image">
        </aside> 
    </div>
</section>
<section>
    <div class="container">
        <article class="col-5-md-10">
            <h2 class="subtitle">
                Step by step color conversion
            </h2>
            <p class="section-description">
                If you are the bricolage type of persone this tool is for you!<br>
                Why let a robot do it for me when I can do it better?<br>
                You're right, and it's still simple and free!
            </p>
            <a href="#/manual" class="btn-primary">Let's go</a>
        </article>
        <aside class="col-5-md-10">
            <img src="./assets/images/welcome-3.svg" alt="coding random image" class="ml-auto">
        </aside> 
    </div>
</section>
<section class="order-reverse bg-lgray">
    <div class="container">
        <article class="col-5-md-10">
            <h2 class="subtitle">
                Single color study
            </h2>
            <p class="section-description">
                Feeling romantic?<br>
                Watch your favourite color in every aspect falling in love with his opposite!
            </p>
            <!--a href="#/single" class="btn-primary">Start now</a-->
        </article>
        <aside class="col-5-md-10">
            <img src="./assets/images/welcome-4.svg" alt="coding random image">
        </aside> 
    </div>
</section>